/* Making list items labeled by letters rather than numbers. */
.exercise.admonition ol {
    list-style-type: lower-alpha;
}
.example ol {
    list-style-type: lower-alpha;
}

/* Remove the underline from internal links. */
a.internal, a.footnote-reference {
    text-decoration: none;
}

a.internal:hover, a.footnote-reference:hover {
    text-decoration-line: underline;
}
